<template>
 <div class="parallax-container" @mousemove="getMousePosition" @mouseout="parallaxStop" @mouseover="parallaxStart">
     <slot></slot>
    </div>
</template>

<script>
import parallaxElement from "./parallax-element.vue";
import  EventBus  from "../../event-bus.js";
import throttle from "../../js/throttle.js";

export default {
  data() {
    return {
      mouseX: 0,
      mouseY: 0,
      hovering: false
    };
  },

  methods: {
    getMousePosition: throttle(function(e) {
      const children = this.$children.map(child => {
        if (child.$options.propsData && child.$options.propsData.parallaxStrength != 0) {
          this.hovering = true;
        }
      });
      this.mouseX = e.pageX;
      this.mouseY = e.pageY;
      if (this.hovering === false) {
        return;
      } else {
        EventBus.$emit("mousePositionChanged", {
          mouseXB: this.mouseX,
          mouseYB: this.mouseY,
          hoveringB: this.hovering
        });
      }
    }, 100),

    parallaxStart() {
      this.hovering = true;
      const children = this.$children.map(child => {
        child.isHovering = true;
      });
    },

    parallaxStop() {
      this.hovering = false;
      const children = this.$children.map(child => {
        child.isHovering = false;
      });
    }
  },
  mounted() {},

  components: {
    parallaxElement
  }
};
</script>

<style lang="scss" scoped>

</style>