.slide-top-enter-active {
  transition: all 500ms ease;
  z-index: 2;
}
.slide-top-leave-active {
  display: none
}
.slide-top-enter, .slide-top-leave-to {
  transform: translateY(+50px);
  opacity: 0;
}

.slide-bot-enter-active {
  transition: all 500ms ease;
  z-index: 2;
}
.slide-bot-leave-active {
  display: none
}
.slide-bot-enter, .slide-bot-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all 500ms ease;
  z-index: 2;
}
.slide-left-leave-active {
  display: none
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(+40px);
  opacity: 0;
}


.slide-right-enter-active {
  transition: all 500ms ease;
  z-index: 2;
}
.slide-right-leave-active {
  display: none
}
.slide-right-enter, .slide-left-leave-to {
  transform: translateX(-40px);
  opacity: 0;
}


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}