<template>
  <div>
    <a href="https://www.afisha.ru/" class="afisha_link" @click="sendGaLink('афиша')" target="blank"><img
        src="../../assets/images/common/afisha.png"
        alt=""></a>
    <a href="https://www.eapteka.ru/goods/id309251/?utm_source=Afisha_SP&utm_medium=Buy_Button&utm_campaign=foodbol"
       class="gaviscon_link"
       target="_blank"
       @click="sendGaLink('гевискон')"
    ><img src="../../assets/images/common/gaviscon.png" alt=""></a>
    <span class="spec_link">спецпроект</span>
    <share-block></share-block>
    <slot></slot>
    <div class="bot-block-mobile" v-if="this.$mq === 'mobile'">
      <div class="line-2">Фармакотерапевтическая группа: средство лечения рефлюкс-эзофагита. <br>
        Рег. уд.: ЛС-002445; ЛС-002444; ЛС-002447; ЛП-001587; ЛП-001624
      </div>
      <div class="line-1">
        Имеются противопоказания. Перед применением <br> необходимо проконсультироваться со специалистом
      </div>
    </div>
    <div class="curtains-mobile" v-if="this.$mq === 'mobile'">
      <div class="left-top"></div>
      <div class="right-top"></div>
      <div class=" left-bot"></div>
      <div class="right-bot"></div>
    </div>
  </div>
</template>

<script>
    import ShareBlock from "../ShareBlock";

    export default {
        name: "fixedBlocksMobile",
        components: {
            ShareBlock
        },
        methods: {
            sendGaLink(title) {
                this.$ga.event('Ссылка', 'Переход по ссылке "' + title + '"', 1);
            }
        }
    }
</script>

<style scoped lang="scss">
  @import "../../assets/scss/mixins.scss";

  .afisha_link {
    position: fixed;
    top: 19px;
    left: 21px;
    display: block;
    z-index: 299;
    img {
      width: 55px;
      height: 13px;
    }
  }

  .spec_link {
    position: fixed;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    display: block;
    left: 41px;
    bottom: 8.5vh;
    letter-spacing: 0;
    z-index: 199;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;

  }

  .gaviscon_link {
    position: fixed;
    top: 20px;
    right: 18px;
    display: block;
    z-index: 299;
    img {
      width: 88px;
      height: 25px;
    }
  }

  .bot-block-mobile {
    background: #c12482;
    position: fixed;
    z-index: 301;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    min-height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .line-1 {
      color: #ffffff;
      font-size: 3vw;
      font-weight: 100;
      text-transform: uppercase;
      margin-top: 5px;
      transform: scaleY(1.5313);
      overflow: hidden;
      padding-bottom: 2px;
    }
    .line-2 {
      color: #ffffff;
      font-size: 9px;
      font-weight: 300;
      margin-top: 0px;
      text-align: center;
      overflow: hidden;

    }

  }

  /*}*/

  @media screen and (max-width: 768px) {
    .bot-block-mobile {
      background: #c12482;
      position: fixed;
      z-index: 301;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .line-1 {
        color: #ffffff;
        font-size: 3vmin;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 5px;
        transform: scaleY(1.5313);
        overflow: hidden;
        padding-bottom: 2px;
      }
      .line-2 {
        color: #ffffff;
        font-size: 9px;
        font-weight: 300;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;

      }
    }
    .spec_link {
      font-size: 9px;
      bottom: 63px;
      left: 20px;
      z-index: 200;
    }

    .curtains-mobile {
      .left-top {
        position: fixed;
        left: 0;
        top: 0;
        background-image: url("../../assets/images/curtains/mobile/1/left_top.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 246px;
        max-height: 294px;
        width: 25vmin;
        height: 30vmin;
        z-index: 200;
        transition: all 100ms ease-in-out;
      }
      .right-top {
        position: fixed;
        right: 0;
        top: 0;
        background-image: url("../../assets/images/curtains/mobile/1/right_top.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 360px;
        max-height: 262px;
        width: 42vmin;
        height: 31vmin;
        z-index: 200;
        transition: all 100ms ease-in-out;

      }
      .left-bot {
        position: fixed;
        left: 0;
        bottom: 0;
        background-image: url("../../assets/images/curtains/mobile/1/left_bot.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 299px;
        max-height: 345px;
        width: 58vmin;
        height: 39vmin;
        z-index: 198;
        transition: all 100ms ease-in-out;

      }
      .right-bot {
        position: fixed;
        right: 0;
        bottom: 0;
        background-image: url("../../assets/images/curtains/mobile/1/right_bot.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 276px;
        max-height: 383px;
        width: 32vmin;
        height: 37vmin;
        z-index: 198;
        transition: all 100ms ease-in-out;

      }
    }

  }

  .fp-viewing-about {
    .curtains-mobile {
      display: none !important;
    }
  }

  .fp-viewing-test, .test-page .fp-viewing-contest, .fp-viewing-contest2, .fp-viewing-contest3 {
    .curtains-mobile {
      .left-top {
        background-image: url("../../assets/images/curtains/mobile/2/left_top.png");
        max-width: 265px;
        max-height: 162px;
        width: 33vmin;
        height: 19vmin
      }
      .right-top {
        background-image: url("../../assets/images/curtains/mobile/2/right_top.png");
        max-width: 409px;
        max-height: 180px;
        width: 44vmin;
        height: 19vmin;
      }
      .left-bot {
        background-image: url("../../assets/images/curtains/mobile/2/left_bot.png");
        max-width: 286px;
        max-height: 277px;
        width: 32vmin;
        height: 34vmin;

      }
      .right-bot {
        background-image: url("../../assets/images/curtains/mobile/2/right_bot.png");
        max-width: 195px;
        max-height: 302px;
        width: 22vmin;
        height: 35vmin;
      }
    }
  }

  .test-page {
    .left-top, .right-top, .left-bot, .right-bot, .bot-block-mobile, .afisha_link, .gaviscon_link, .spec_link {
      position: absolute !important;
    }
  }

</style>